@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ProiectPAW.wwwroot.Models.Produs>

<div class="container">
    <h1>Rezultatele cautarii</h1>

    <div class="row">
        @foreach (var produs in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/src/@produs.Poza" class="card-img-top img-fit-cover" alt="@produs.Nume">
                    <div class="card-body">
                        <h5 class="card-title">@produs.Nume</h5>
                        <p class="card-text">@produs.Descriere</p>
                        <p class="card-text"><strong>Pret:</strong> @produs.Pret</p>
                        <p class="card-text"><strong>Stoc:</strong> @produs.Stoc</p>
                        <a href="@Url.Action("Detalii", "Produs", new { prodID = produs.ID })" class="btn btn-primary">Detalii</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

